.app__card {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 20rem;
    margin: 1rem;
    padding: 0.5rem;

    background-color: var(--card-bg);
    
    border-radius: 10px;
    .card-img {
        width: 18rem;
        height: 13rem;
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .recipe_info {
        margin-top: 0.125rem;
        padding: 0.5rem 0;
        p {
            width: 220px;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}